# Compiled/Optimized python files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*,cover
.hypothesis/
.pytest_cache/
.mypy_cache/

# Packaging
build/
dist/
mountapi.egg-info/

# PyCharm
.idea/