[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"h11" = "*"
httptools = "*"
ujson = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"

[requires]
python_version = "3.6"
